/*-----------------------*/
/*   global variables    */
/*-----------------------*/

:root {
  /* --darkest: #00303F;
  --darkFont: #00303F;
 
  
  --mainFont: #CAE4DB;

  --medium:  rgb(54, 100, 114); */
  --mediumAccent: rgb(109, 209, 225);
  --darkAccent: #00303f;
  /* --lightAccent: #FFCB9a;
  --brightAccent: goldenrod; */
}
/*-----------------------*/
/*   styling             */
/*-----------------------*/

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-weight: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(pexels-photo-1050308-wood.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

div.navLogin {
  display: inline;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.beanImage {
  width: 80%;
}

.fa-trash {
  height: 24px;
}

button {
  color: var(--medium);
  background-color: var(--mediumAccent);
  padding: 3px 3px 3px 3px;
  margin: 10px auto;
  width: 150px;
  height: 40px;
  display: block;
}

button:disabled {
  background-color: lightgray;
  color: gray;
}

form {
  background-color: rgba(241, 237, 243, 0.6);
  width: 50%;
  margin: 0 auto 10px;
  border: 1px solid var(--darkAccent);
  padding: 5px;
  border-radius: 25px;
}

.CartActionsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.ColumnContainer {
  display: flex;
  font: 1em sans-serif;
  flex-direction: column;
  align-content: left;
  width: 100%;
  flex-grow: 1;
}

.RowContainer {
  display: flex;
  font: 1em sans-serif;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-right: 20px;
}

.quantity {
  padding: 10px;
}

.SingleProductBox {
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--darkAccent);
  padding: 0 10px;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: rgba(241, 237, 243, 0.5);
}

.CartActionsBox button {
  color: var(--medium);
  background-color: var(--mediumAccent);
  padding: 3px 3px 3px 3px;
  margin: 2px;
  width: 100px;
  height: 20px;
  align-self: center;
}

#CartSubtotalBox {
  display: flex;
  width: 70%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  font: 1em sans-serif;
  align-content: left;
  border-radius: 2px;
  border: 1px solid var(--darkAccent);
  border-radius: 25px;
  margin-top: 5px;
  margin-right: 10px;
  flex-grow: 1;
  background-color: rgba(241, 237, 243, 0.5);
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
